@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #f2f2f2
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    color: rgb(30, 174, 128);
    text-align: center;
    font-size: 20px;
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgb(72 187 28), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 20px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 255, 34, 0.348);
    border-radius: 10px;
}

/* Footer */
.copyright {
    padding: 10px;
    background-color: rgba(3, 244, 7, 0.515);
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    font-size: medium;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

/* Nav bar */
nav {
    z-index: 1;
    background: rgba(3, 244, 7, 0.515);
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    animation: mytext 5s linear 0s infinite alternate;
}

nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: rgba(3, 244, 7, 0.315);
    margin: 0 5px;
}

nav ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 6px;
    text-transform: uppercase;
    font-weight: 600;
}

nav ul li a:hover {
    color: yellowgreen;
}

nav ul ul {
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}

/* ERROR INPUT DISPLAY NONE => FIX USE A STYLE FOR BOX... */
.show,
.icon,
.teal {
    display: none;
}

.fa-plus {
    font-size: 15px;
    margin-left: 40px;
}

.yhteys2 h1{
    text-align: center;
    padding: 9px;
    color: rgb(30, 174, 128);
    font-size: 30px;
}

.p1 {
    background-color: #FFF;
    padding: 10px;
    font-size: 16px;
    font-family: Tahoma, Arial;
    border: 1px solid #CCC;
    line-height: 1.7;
    position: relative;
    text-align: center;
    font-size: 20   px;
}

.p1:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2c3e50;
    border: 3px solid #CCC;
    position: absolute;
    top: 10px;
    left: -40px;
}

.p1:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #CCC transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
}

/* FAK */
.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border color 0.15s ease-in-out, box shadow 0.15s ease-in-out;;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.55);
}

@media all and (max-width: 968px) {
    nav ul {
        margin-right: 0px;
        float: left;
    }

    nav .logo {
        padding-left: 30px;
        width: 100%;
    }

    .show+a,
    ul {
        display: none;
    }

    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }

    .show {
        display: block;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        padding: 0 20px;
        line-height: 70px;
        font-weight: 600;
        cursor: pointer;
    }

    .show:hover {
        color: yellowgreen;
    }

    .icon {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }

    nav ul ul {
        top: 70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul a {
        padding-left: 40px;
    }

    nav ul ul ul a {
        padding-left: 80px;
    }

    nav ul ul ul li {
        position: static;
    }

    [id^=btn]:checked+ul {
        display: block;
    }

    nav ul ul li {
        border-bottom: 0px;
    }
}

/* Active NAV */
.active {
    background: #a4fac7;
    padding: 8px;
}

.active>a {
    color: white;
    animation: active 5s linear 0s infinite alternate;
}

/* Keyframes */
@keyframes mytext {

    100%,
    0% {
        color: rgb(0, 127, 255);
    }

    37% {
        color: rgb(0, 0, 255);
    }

    62% {
        color: rgb(127, 0, 255);
    }

    81% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}

@keyframes active {

    100%,
    0% {
        color: rgb(255, 255, 255);
    }

    37% {
        color: rgb(172, 172, 172);
    }

    62% {
        color: rgb(70, 70, 70);
    }

    81% {
        color: rgb(29, 29, 29);
    }

    91% {
        color: rgb(0, 0, 0);
    }
}